{% extends 'base.html' %}

{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6 col-lg-4 w-100" style="max-width: 500px;">
            <form id="form" class="p-4 shadow-lg rounded bg-light" method="post">
                {% csrf_token %}
                <h2 class="text-center mb-3">Welcome to EcoVision</h2>
                <h3 class="text-center mb-5">Sign Up</h3>
                <!-- alert  -->
                <div class="alert alert-danger d-none" id="alert" role="alert"></div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <input id="name" type="text" name="name" class="form-control" placeholder="Enter name" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Email Address</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>
                        <input id="username" type="email" name="username" class="form-control"
                            placeholder="Enter email" required>
                    </div>
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <input id="password" type="password" name="password" class="form-control"
                            placeholder="**********" required>
                        <span class="input-group-text">
                            <ion-icon class="show-hide" name="eye-outline"></ion-icon>
                        </span>
                    </div>
                </div>
                <!-- already have an account -->
                <div class="mb-3">
                    <p class="text-center">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                </div>

                <div class="d-grid">
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>

<script>
    document.getElementById('form').addEventListener('submit', (e) => {
        e.preventDefault();
        signup();
    });

    var signup = () => {
        const alert = document.getElementById('alert');
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var name = document.getElementById('name').value;
        if (username == '' || password == '' || name == '') {
            alert.classList.remove('d-none');
            alert.textContent = 'Please fill all the fields';
            return;
        }
        var formData = new FormData();
        formData.append('name', name);
        formData.append('username', username);
        formData.append('password', password);
        fetch("{% url 'signup' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        }).then(response => {
            // Check if the response is OK (status in the range 200-299)
            if (response.ok) {
                // If the response is OK, redirect to the home page
                window.location.href = "{% url 'home' %}";
            } else {
                // If the response is not OK, parse the JSON response to get the error message
                return response.json().then(data => {
                    // Remove the 'd-none' class to show the alert
                    alert.classList.remove('d-none');
                    // Set the alert text to the detail message from the response
                    alert.textContent = data.detail || response.statusText; // Fallback to statusText if detail is undefined
                });
            }
        }).catch(error => {
            // Handle any errors that occur during the fetch
            console.error('Error:', error);
            alert.classList.remove('d-none');
            alert.textContent = 'An unexpected error occurred. Please try again.';
        });

    };
</script>
{% endblock %}

{% block extra_head %}



<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
